*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}


/* Container */ 
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* header */
.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__fixed {
    height: auto;
    background: #31344e;

    position: fixed;
}

.header__fixed .header__inner {
    padding: 15px 0;

    border-bottom: none;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 38px 0;

    border-bottom: 1px solid #4f5268;
}


/* nav */ 
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .2s linear;

    margin-right: 60px;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    opacity: 1;
}

.burger {
    display: none;

    background: none;
    border: 0;
    padding: 9px 4px;
    
    cursor: pointer;

    outline: 0;
}

.burger__item {
    position: relative;
    display: block;

    width: 25px;
    height: 3px;

    background-color: #fff;
}

.burger__item::before {
    content: '';
    display: block;

    width: 35px;
    height: 100%;


    position: absolute;
    top: -10px;
    right: 0;
    z-index: 1;

    background-color: #fff;
}

.burger__item::after {
    content: '';
    display: block;

    width: 15px;
    height: 100%;

    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;

    background-color: #fff;
}

/* intro */ 
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #31344e url(../img/bg_01.png) center no-repeat;
    background-size: cover;
    height: 750px;

    padding-top: 100px;
}

.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}

.intro__title {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 71px;
}

.intro__subtitle {
    margin: 40px auto 80px;

    color: #b9bac3;
    font-size: 22px;
    text-align: center;
}

.intro__btn {
    display: block;
    background-color: #e84545;

    margin: 0 auto;

    max-width: 200px;
    width: 100%;
    height: 46px;

    border: none;
    border-radius: 2px;

    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    cursor: pointer;

    transition: background-color .2s linear;
}

.intro__btn:focus {
    outline: 0;
}

.intro__btn:hover {
    background-color: #bd3939;
}

/* features */ 
.features {
    display: flex;
    flex-wrap: wrap;

    margin: 120px 0;
}

.features__item {
    padding: 0 20px;
    margin-bottom: 75px;

    width: 33.333333%;

    text-align: center;

}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.features__text {
    color: #6c7279;
    line-height: 21px;
}

/* works */ 
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;

    cursor: default;
}

.works__item:last-child {
    border-right: none;
}

.works__item:hover .works__content{
    opacity: 1;
}

.works__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    background-color: rgba(218, 68, 67, .9);

    opacity: 0;

    transition: opacity .2s linear;
}

.works__title {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.works__text {
    color: #fff;
}

/* team */ 
.team {
    margin-top: 100px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    width: 270px;
    height: auto;
    text-align: left;
}

.team__item:last-child {
    margin-right: 0;
}

.team__photo {
    width: 100%;
    max-width: 270px;
    height: auto;
}

.team__info {
    position: relative;
}

.team__name {
    margin: 30px 0 15px;

    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    font-size: 13px;
    text-transform: uppercase;
    color: #e84545;
}

.team__text {
    margin-top: 30px;

    line-height: 21px;
    color: #6c7279;
}

.social {
    display: flex;

    margin-top: 30px;
}

.social--footer {
    justify-content: center;
    margin-top: 0;
}

.social--footer .social__item {
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;

    transition: background-color .2s linear;
}

.social--footer .social__item:hover {
    color: #fff;
    background-color: #5a62ac;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    margin-right: 5px;
    width: 40px;
    height: 40px;

    border: 1px solid #e8ecee;

    color: #c6cacc;

    transition: background-color, color .2s linear;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    background-color: #dddddd;
    color: #323232;
}


/* reviews */
.reviews {
    margin-top: 100px;
    background-color: #53354a;

    overflow: hidden;
}
.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    position: relative;

    width: 50%;
    height: 500px;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translate3d(0, -43%, 0);
}

.reviews__content {
    width: 50%;
    padding: 110px 0 0 80px;
}

.reviews__text {
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    font-family: 'Cardo', serif;

    color: #fff;
}

.reviews__author {

    margin-top: 40px;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 13px;
    font-weight: 700;

    color: #fff;
}


/* download */
.download {
    margin: 100px 0;

    text-align: center;
}

.download__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;

    color: #3b3e41;
}

.download__subtitle {
    margin: 20px auto 40px;

    font-size: 13px;
    text-transform: uppercase;
    line-height: 21px;
    font-weight: 700;

    color: #2d3033;
}

.download__btn {
    width: 280px;
    height: 45px;

    border: none;
    border-radius: 2px;

    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

    background-color: #e84545;
    color: #fff;

    cursor: pointer;

    transition: background-color .2s linear;
}

.download__btn:focus {
    outline: 0;
}

.download__btn:hover {
    background-color: #bd3939;
}


/* footer */
.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;

    padding: 70px 0 110px;
}

.footer__block {
    width: 33.33%;

    padding: 0 15px;
    text-align: center;
}

.footer__title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer__text {
    font-size: 14px;
    line-height: 22.5px;
    text-align: center;
    color: rgba(255, 255, 255, .5);
}

.footer__address {
    font-size: 14px;
    line-height: 22.5px;
    font-style: normal;
    color: rgba(255, 255, 255, .5)
}

.footer__copyright {
    padding: 30px 0;
    font-size: 14px;
    color: #808080;
    text-align: center;

    background-color: #313454;
}

.footer__author {
    margin-top: 10px;
}

.fa-heart {
    color: #e84545;
}

.footer__copyright span {
    color: #e4e4e8;
}


/*===========================
media 
=============================*/

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }

    /* intro 
    ===============*/
    .intro__title {
        font-size: 55px;
        line-height: 57px;
    }

    .intro__subtitle {
        font-size: 20px;
        margin: 30px 0 60px
    }

    /* team 
    ===============*/
    .team__item {
        width: 200px;
    }

    .team__name {
        margin: 10px 0;
    }
    
    .team__text {
        margin-top: 20px;
    }
}

@media (max-width: 1100px) {
    
}

@media (max-width: 992px) {
    

    /* nav 
    ===============*/
    .nav {
        display: none;
        width: 100%;

        text-align: right;
        
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;

        background-color: #31344e;
    }

    .nav.show {
        display: flex;
    }
    
    .nav__link {
        padding: 8px 15px;
        margin: 3px 40px 3px 0;
    }
    .nav__link:last-child {
        margin-right: 40px;
    }

    .burger {
        display: block;
    }

    /* intro 
    ===============*/
    .intro__title {
        font-size: 38px;
        line-height: 40px;
    }
    .intro__subtitle {
        font-size: 17px;
        margin: 20px 0 50px;
    }

    /* works 
    ===============*/
    .works__item {
        width: 50%;
        height: 300px;
    }

    .works__title {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .works__text {
        font-size: 14px;
    }

    /* team 
    ===============*/
    .team__inner {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 50px;
    }

    .team__item {
        width: 270px;
        margin-bottom: 30px;
    }

    .team__item:last-child {
        margin-bottom: 0;
    }

    .team__name {
        font-size: 20px;
        margin: 10px 0 5px;
    }

    .team__prof {
        font-size: 11px;
    }

    .team__text {
        width: auto;
        margin-top: 10px;
        font-size: 12px;
    }

    /* reviews 
    ===============*/
    .reviews__content {
        padding: 30px 0 40px;
        width: 100%;
    }

    .reviews__text {
        font-size: 22px;
        line-height: 30px;
    }
    .reviews__author {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .reviews__photo {
        overflow: hidden;
        width: 100%;
    }

}

@media (max-width: 768px) {
    /* team 
    ===============*/
    .team__inner {
        flex-direction: row;
    }

    .team__item {
        display: flex;

        width: 100%;
        margin-bottom: 30px;
    }

    .team__item:last-child {
        margin-bottom: 0;
    }

    .team__photo {
        width: 240px;
        height: 240px;
    }

    .team__info {
        margin-left: 15px;
    }

    .team__name {
        font-size: 20px;
        margin: 0 0 5px;
    }

    .team__prof {
        font-size: 11px;
    }

    .team__text {
        margin-top: 10px;
        font-size: 12px;
    }
    
    .social {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .social--footer {
        position: relative;
    }
}

@media (max-width: 576px) {

    /* intro 
    ===============*/
    .intro__title {
        font-size: 28px;
        line-height: 33px;
    }
    .intro__subtitle {
        font-size: 14px;
        margin: 20px 0 50px;
    }

    /* features 
    ===============*/
    .features__item {
        width: 50%;
    }

    .features__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }

    .features__title {
        font-size: 12px;
        margin-bottom: 15px;
    }
    
    .features__text {
        font-size: 12px;
    }
    
    /* works 
    ===============*/
    .works__title {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .works__text {
        font-size: 12px;
    }
    
    

    /* reviews 
    ===============*/
    .reviews__content {
        padding: 30px 0 40px;
        width: 100%;
    }

    .reviews__text {
        font-size: 22px;
        line-height: 30px;
    }
    .reviews__author {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .reviews__photo {
        overflow: hidden;
        width: 100%;
    }

    .reviews__img {
        left: -20%;
        transform: translate3d(-20%, -43%, 0)
    }
    
    /* download 
    ===============*/
    .download__title {
        line-height: 35px;
    }

    .download__subtitle {
        margin: 10px 0 30px;
    }

    /* footer 
    ===============*/
    .footer__inner {
        padding-bottom: 40px;
    }

    .footer__address, .footer__text {
        font-size: 13px;
        line-height: 19.5px;
    }

    .footer__copyright {
        font-size: 10px;
        padding: 15px 0;
    }

    .footer__author {
        margin-top: 5px;
    }
}




